@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Inter:wght@200;500;900&family=Press+Start+2P&display=swap');

body {
  background: url(./components/assets/pixel-background.svg);
  background-repeat:no-repeat;
  background-size:cover;
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  background: rgb(132, 157, 201) !important;
}


a::after{
  color: #227171 ! important;
}


a:hover{
  color:#a74b9a !important;
}

:any-link{
  color: #6a40b2dd;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'DotGothic16', sans-serif;
    color: #30314f;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
}


.kat p{
    color: #5982bb;
    line-height: 3rem;
    font-size: 1.25rem;
    font-weight: 900;
}

.kat a{
    text-shadow:#5982bb 2px 2px ;
    /* background-color: #A4A6F6; */
    padding: .1em .1em;
    text-decoration: none;
    font-weight: 900;
    color: #A6F ;
    display: inline-block;
    margin: .5rem 0;
    /* box-shadow: #5982bb 2px 3px; */
    border-radius: .3em;
    
}


h1 span{
    color: #5982BB;
    text-shadow: #A6F2DD 5px 4px;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}

span{
    color: #A6F;
    text-shadow: #5982bb 1.5px 1px;
}

.kat h1{
    line-height: 4rem;
    font-size: 16px;
    margin-bottom: 2rem;
    color: #b93a97;
    font-family:  'Press Start 2P', cursive;
}

.images{
    width: 35%;
    height: 45%;
    position: absolute;
    bottom: 0;
    right: 100px;
    transform: translateY(-55%);
    -webkit-transform: translateY(-55%);
    -moz-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    -o-transform: translateY(-55%);
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-40%);
    transition: bottom 1s, left 1s;
}

.images .girl{
    transform: translateX(-9%);
    transform: translateY(-7%);
}

.images:hover .shape{
    bottom: 12px;
}

.images:hover .girl{
    left: 41%;
}

#nav{
    background-color: rgba(233, 223, 245, 0.26);
    width: 100%; 
}


nav ul li{
    display: inline-block;
    list-style: none;
    text-shadow: #A4A6F6 2px 2px;
    margin: 5px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #b93a97;
    font-weight: bold;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Press Start 2P', cursive;
}
nav ul li a:visited{    
    color: #A6F2DD;
    /* color: #C58DF4; */
}

.logo{
    justify-self: center;
    margin-top: .10rem;
    margin-left: .45rem;
    height: 5vh;
    width: 5vw;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer .year{
    color: #5982bb;
    margin-left: 2rem;
    font-style: italic;
    font-weight: 500;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: rgb(132, 157, 201) !important;
  color: #a6f2dc;
}


.reference-item:active{
    color: #30314f;
}

.accordion-color{
    background-color: #A4A6F6;
}
